
  <header id="head-top">
	
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#head-top"><i class="icon-twitter-sign icon-x3"></i> FLATSCROLLER</a>
          <div class="nav-collapse collapse top-spy">
            <ul class="nav" id="topnav">
              <li class="active"><a href="#head-top">Home</a></li>
              <li><a href="#Section-1">Section-1</a></li>
              <li><a href="#Section-2">Section-2</a></li>
			  <li><a href="#Section-3">Section-3</a></li>
			  <li><a href="#foot-sec">Footer</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
		<div class="container">
		<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><div class="row">
				<div class="span5 offset2 text-right" style="padding-top:40px; ">
					<h1 class="">WELCOME TO FLATSCROLLER</h1>
					<p class="lead">
						Here goes marketing paragraph. A good starting point for your new project. Fully adaptive flat design. Smooth scrolling and parallax effects. Just choose the appropriate colors for your project, or use ready-made skins and ... done
					</p>

				</div>
				<div class="span4 text-center">
					<img src="images/flatphone.png" alt="" />
				</div>
			</div>
		</div>
    <div class="item">
		<div class="row">
				<div class="span4 offset1 text-center">
					<img src="images/flatphone.png" alt="" />
				</div>
				<div class="span5" style="padding-top:40px; ">
					<h1 class="">WELCOME TO FLATSCROLLER</h1>
					<p class="lead">
						Here goes marketing paragraph. A good starting point for your new project. Fully adaptive flat design. Smooth scrolling and parallax effects. Just choose the appropriate colors for your project, or use ready-made skins and ... done
					</p>

				</div>
				
			</div>
		</div>
   
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
</div>
			
		</div>
      </div>
	  
	  <!-- GO BTN WRAPPER-->
	  <div class="gobtnwrapper">
		<a class="gobtn"><i class="icon-chevron-down icon-large"></i></a>
	  </div>
	  <!-- /GO BTN WRAPPER-->
	</header>
<!-- / HEADER -->


<!--  SECTION-1 -->  
<section id="Section-1">
	<div class="container">
    <!-- Example row of columns -->
    <div class="row">
		<div class="span12 page-header text-center">
			<h3>Section-1 We provide awesome services</h3>
			<p class="lead">
				A good starting point for your new project. Fully adaptive flat design. Smooth scrolling and parallax effects. 
			</p>
		</div> 
	</div>	
	
	<div class="row-fluid">
        <div class="span4 text-center box">
		<div class="circ-wrap">
			<i class="icon-html5 icon-4x"></i>
		</div>
          <h3>1. HTML5 STANDARD </h3>
          <p class="justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
         
        </div>
        <div class="span4 text-center box">
			<div class="circ-wrap">
			<i class="icon-css3 icon-4x"></i>
			</div>
          <h3>2. CSS3 EFFECTS</h3>
          <p class="justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
         
       </div>
        <div class="span4 text-center box">
		<div class="circ-wrap">
			<i class="icon-tablet icon-4x"></i>
			</div>
          <h3>3. MOBILE READY</h3>
          <p class="justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
        </div>
	</div>
	
	<div class="row-fluid">
		<div class="span4 text-center box">
		<div class="circ-wrap">
			<i class="icon-rocket icon-4x"></i>
			</div>
          <h3>4. FASTER START</h3>
          <p class="justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
        </div>
		<div class="span4 text-center box">
		<div class="circ-wrap">
			<i class="icon-beaker icon-4x"></i>
			</div>
          <h3>5. FONT AWESOME 3.1.1.</h3>
          <p class="justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
        </div>
		<div class="span4 text-center box">
		<div class="circ-wrap">
			<i class="icon-thumbs-up icon-4x"></i>
			</div>
          <h3>6. BOOTSTRAP 2.3.2.</h3>
          <p class="justify">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
        </div>
	</div>
	
	</div><!-- / CONTAINER-->
	<div class="well">
		<div class="container">
			<div class="row-fluid">
				<div class="span9">
					<p class="lead">
						Marketing slogan awesome call to action with button!
					</p>
					
				</div>
				<div class="span3 text-left">
					<a class="btn btn-large btn-block btn-danger" href="http://www.bootstraptor.com">Get it now!</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- / SECTION-1 -->

<!-- SECTION-2 -->
<section id="Section-2">
	<div class="container">

   <div class="row">
		<div class="span12 page-header text-center">
			<h3>We provide an awesome products</h3>
			<p class="lead">
		</div> 
	</div>	
	
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4 text-center">
         	<a href="#"><img src="images/iMac.png"></a> 
        </div>
		
        <div class="span8">
          <h3>Heading Heading Heading Heading</h3>
          <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		  <p><a class="btn btn-large" href="http://www.bootstraptor.com">View details »</a></p>
       </div>
	   
      </div>
	  <hr>
	  <!-- Example row of columns -->
      
<div id="myCarousel2" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
  
  <div class="item active">
  <div class="row text-center">
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
		
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
		
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
		
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
	</div>
	</div>
	
	<div class="item">
	<div class="row text-center">
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
		
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
		
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
		
		<!-- ITEM-->
        <div class="span3">
			<div class="thumbnail product-item">
				<a href="#"><img src="images/flatphone.png"></a>
			</div>
			<h3>Product name</h3>
			<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
        </div>
		<!-- ITEM-->
	</div>
	</div>
</div><!-- /INNER-->  
	    <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel2" data-slide="prev"><i class="icon-chevron-left"></i></a>
  <a class="carousel-control right" href="#myCarousel2" data-slide="next"><i class="icon-chevron-right"></i></a>	
</div><!-- CAROUSEL-->
</div>
	  
	</div><!-- / CONTAINER-->
	<div class="well">
		<div class="container">
			<div class="row-fluid">
				<div class="span9">
					<p class="lead">
						Marketing slogan awesome call to action with button!
					</p>
					
				</div>
				<div class="span3 text-left">
					<a class="btn btn-large btn-block" href="http://www.bootstraptor.com">Get it now!</a>
				</div>
			</div>
		</div>
	</div>

 </section> 
 <!-- / SECTION-2 -->

<!-- / SECTION-3 --> 
<section id="Section-3">
	<div class="container">
		<div class="row">
			<div class="span12 page-header text-center">
				<h3>Our team - who build this awesome project</h3>
				<p class="lead">
			</div> 
		</div>	
 
		<div class="row text-center">
			<div class="span3">
				<a href="#"><img src="images/avaone.jpg" width="160" height="160" class="img-circle"></a>
				<h3>John Doe</h3>
			  <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
			</div>
			<div class="span3">
				<a href="#"><img src="images/avatwo.jpg" width="160" height="160" class="img-circle"></a>
				<h3>John Doe</h3>
			  <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
			</div>
			<div class="span3">
				<a href="#"><img src="images/avathree.jpg" width="160" height="160" class="img-circle"></a>
				<h3>John Doe</h3>
			  <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
			</div>
			<div class="span3">
				<a href="#"><img src="images/avafour.jpg" width="160" height="160" class="img-circle"></a>
				<h3>John Doe</h3>
			  <p class="text-center social-contacts"> <a href="#"><i class="icon-facebook-sign icon-2x"></i></a> <a href="#"><i class="icon-twitter-sign icon-2x"></i></a> <a href="#"><i class="icon-github-sign icon-2x"></i></a> <a href="#"><i class="icon-linkedin-sign icon-2x"></i></a> <a href="#"><i class="icon-google-plus-sign icon-2x"></i></a></p>
			</div>
			
		</div>
		<hr>
		
<div class="row-fluid">
<!-- SERVICE SIDE-->
<div class="span7">
	<!-- INNER ROW-->
	
	<h3 class="main-color">OUR SERVICES</h3>
		
	<!-- SERVICE ITEM-->
	<div class="row-fluid about-box">
		<div class="span3">
			<div class="circ-wrap">
				<i class="icon-beaker icon-4x"></i>
			</div>
		</div>
		<div class="span8">		
			<h4><span>WEB &amp; UI DESIGN</span></h4>
			
			<p class="">
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
			</p>
		</div>
	</div>
	<!--/ SERVICE ITEM-->

		<!-- SERVICE ITEM-->
	<div class="row-fluid about-box">
		<div class="span3">
			<div class="circ-wrap">
				<i class="icon-beaker icon-4x"></i>
			</div>
		</div>
		<div class="span8">		
			<h4><span>WEB &amp; UI DESIGN</span></h4>
			
			<p class="">
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
			</p>
		</div>
	</div>
	<!--/ SERVICE ITEM-->
	
		<!-- SERVICE ITEM-->
	<div class="row-fluid about-box">
		<div class="span3">
			<div class="circ-wrap">
				<i class="icon-beaker icon-4x"></i>
			</div>
		</div>
		<div class="span8">		
			<h4><span>WEB &amp; UI DESIGN</span></h4>
			
			<p class="">
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
			</p>
		</div>
	</div>
	<!--/ SERVICE ITEM-->

</div><!--/SPAN7-->

<!-- SKILLS BAR SIDE-->
<div class="span5">
	
	<h3 class="main-color">MAIN SKILLS</h3>
	<!-- BAR ITEM-->
	<h4>DESIGN</h4>
		<div class="progress">
            <div class="bar" style="width: 75%;"></div>
        </div>
	<!--/ BAR ITEM-->
		
	<!-- BAR ITEM-->
	<h4>HTML5</h4>
		<div class="progress">
            <div class="bar bar-danger" style="width: 60%;"></div>
        </div>
	<!--/ BAR ITEM-->
		
	<!-- BAR ITEM-->
	<h4>CSS3</h4>
		<div class="progress">
            <div class="bar bar-success" style="width: 55%;"></div>
        </div>
	<!--/ BAR ITEM-->
		
	<!-- BAR ITEM-->
		<h4>JQUERY</h4>
		<div class="progress">
            <div class="bar bar-warning" style="width: 75%;"></div>
        </div>
	<!--/ BAR ITEM-->
		
	<!-- BAR ITEM-->
		<h4>PHP</h4>
		<div class="progress">
            <div class="bar bar-info" style="width: 55%;"></div>
        </div>
	<!-- / BAR ITEM-->
	
	</div>
<!--/ SKILLS BAR SIDE-->
</div>
</div><!-- /CONTAINER-->
</section>
<!-- / SECTION-3 --> 
 
 <!-- SECTION-4 -->
<section id="Section-4">
<div class="container">
   <div class="row">
		<div class="span12 page-header text-center">
			<h3>Section-3 Plans &amp; Pricing</h3>
		</div> 
	</div>	
	
  
	  
	  <div class="row-fluid">
	  
		<!--  STANDART PRICE ITEM  -->
			<div class="span3">
			<div class="pricing-table blue"><!-- BODY BOX-->
			<div class="pricing-table-header"><!-- HEADER BOX-->
							
			<span class="heading">Single applications</span>
			<span class="price-value">$<span>14</span><span class="mo">/mo</span></span>
						   
			</div><!--/ BODY BOX-->
					
			<div class="pricing-table-space"></div><!-- CONTENT BOX-->
			<div class="pricing-table-features">
			<p> <strong>Single</strong> installation</p>
			<p><strong> Unlimited </strong> Support</p>
			<p><strong>Validation</strong> W3C</p>
			<p><strong>Bootstrap</strong> 2.3.0</p>
			<p><strong>HTML5</strong> & <strong> CSS3</strong></p>
			</div><!-- /  CONTENT BOX-->
					
			<div class="pricing-table-sign-up"><!-- BUTTON BOX-->
			<a href="#" class="btn btn-large btn-block btn-info">BUY NOW!</a>
			</div><!-- BUTTON BOX-->
					
			</div><!--/ BODY BOX-->
			</div><!--  SPAN3  -->
			<!--  STANDART PRICE ITEM  -->
			<!--  STANDART PRICE ITEM  -->
			<div class="span3">
			<div class="pricing-table blue"><!-- BODY BOX-->
			<div class="pricing-table-header"><!-- HEADER BOX-->
							
			<span class="heading">Single applications</span>
			<span class="price-value">$<span>14</span><span class="mo">/mo</span></span>
						   
			</div><!--/ BODY BOX-->
					
			<div class="pricing-table-space"></div><!-- CONTENT BOX-->
			<div class="pricing-table-features">
			<p> <strong>Single</strong> installation</p>
			<p><strong> Unlimited </strong> Support</p>
			<p><strong>Validation</strong> W3C</p>
			<p><strong>Bootstrap</strong> 2.3.0</p>
			<p><strong>HTML5</strong> & <strong> CSS3</strong></p>
			</div><!-- /  CONTENT BOX-->
					
			<div class="pricing-table-sign-up"><!-- BUTTON BOX-->
			<a href="#" class="btn btn-large btn-block btn-info">BUY NOW!</a>
			</div><!-- BUTTON BOX-->
					
			</div><!--/ BODY BOX-->
			</div><!--  SPAN3  -->
			<!--  STANDART PRICE ITEM  -->
			<!--  STANDART PRICE ITEM  -->
			<div class="span3">
			<div class="pricing-table blue"><!-- BODY BOX-->
			<div class="pricing-table-header"><!-- HEADER BOX-->
							
			<span class="heading">Single applications</span>
			<span class="price-value">$<span>14</span><span class="mo">/mo</span></span>
						   
			</div><!--/ BODY BOX-->
					
			<div class="pricing-table-space"></div><!-- CONTENT BOX-->
			<div class="pricing-table-features">
			<p> <strong>Single</strong> installation</p>
			<p><strong> Unlimited </strong> Support</p>
			<p><strong>Validation</strong> W3C</p>
			<p><strong>Bootstrap</strong> 2.3.0</p>
			<p><strong>HTML5</strong> & <strong> CSS3</strong></p>
			</div><!-- /  CONTENT BOX-->
					
			<div class="pricing-table-sign-up"><!-- BUTTON BOX-->
			<a href="#" class="btn btn-large btn-block btn-info">BUY NOW!</a>
			</div><!-- BUTTON BOX-->
					
			</div><!--/ BODY BOX-->
			</div><!--  SPAN3  -->
			<!--  STANDART PRICE ITEM  -->
			
			<!--  STANDART PRICE ITEM  -->
			<div class="span3">
			<div class="pricing-table blue"><!-- BODY BOX-->
			<div class="pricing-table-header"><!-- HEADER BOX-->
							
			<span class="heading">Single applications</span>
			<span class="price-value">$<span>14</span><span class="mo">/mo</span></span>
						   
			</div><!--/ BODY BOX-->
					
			<div class="pricing-table-space"></div><!-- CONTENT BOX-->
			<div class="pricing-table-features">
			<p> <strong>Single</strong> installation</p>
			<p><strong> Unlimited </strong> Support</p>
			<p><strong>Validation</strong> W3C</p>
			<p><strong>Bootstrap</strong> 2.3.0</p>
			<p><strong>HTML5</strong> & <strong> CSS3</strong></p>
			</div><!-- /  CONTENT BOX-->
					
			<div class="pricing-table-sign-up"><!-- BUTTON BOX-->
			<a href="#" class="btn btn-large btn-block btn-info">BUY NOW!</a>
			</div><!-- BUTTON BOX-->
					
			</div><!--/ BODY BOX-->
			</div><!--  SPAN3  -->
			<!--  STANDART PRICE ITEM  -->
	  </div>
	</div><!-- / CONTAINER-->
</section> 
 <!-- / SECTION-4 -->
 

      
<!-- FOOTER -->
<footer id="foot-sec">
	<div class="container">

			
			<div class="row-fluid">
				<div class="span12 page-header text-center">
					<h3 class="">Stay in touch with us</h3>
					
				</div>
				<hr>
			</div>
			<div class="row-fluid">
				<div class="span8 offset3">
				
					<div class="circ-wrap">
						<a href="http://www.bootstraptor.com"><i class="icon-facebook icon-4x"></i></a>
					</div>
					<div class="circ-wrap">
						<a href="http://www.bootstraptor.com"><i class="icon-twitter icon-4x"></i></a>
					</div>					
					<div class="circ-wrap">
						<a href="http://www.bootstraptor.com"><i class="icon-github icon-4x"></i></a>
					</div>					
					<div class="circ-wrap">
						<a href="http://www.bootstraptor.com"><i class="icon-linkedin icon-4x"></i></a>
					</div>					
					
					<div class="circ-wrap">
						<a href="http://www.bootstraptor.com"><i class="icon-google-plus icon-4x"></i></a>
					</div>
				</div>
			</div>
			
			<div class="row-fluid">
			<hr>
				<div class="span12 text-center">
						<p>© 2013 FlatScroller | Built with <a href="http://www.bootstraptor.com">www.Bootstraptor.com</a></p>
				</div>
			</div>
	</div>
</footer>
